@page
@{
    Layout = "_Layout";
}

<html lang="ru">
<head>
    <link rel="stylesheet" href="~/css/normalize.css"/>
    <link rel="stylesheet" href="~/css/Artist.css"/>
</head>
<body>
<div class="artist-page__container">
    <div class="artist-page__head">
        <div class="artist-page__avatar">
            <img src="~/images/Aivazovsky_portrait.jpg" alt="Портрет"/>
        </div>
        <div class="artist-page__main">
            <div class="artist-page__title">
                Иван Айвазовский
            </div>
            <div class="artist-page__country">
                Россия
            </div>
            <div>
                Ива́н Константи́нович Айвазо́вский (арм. Հովհաննես Այվազյան, Ованнес Айвазян; 17 [29] июля 1817 года, Феодосия, Таврическая губерния, Российская империя — 19 апреля [2 мая] 1900 года, там же) — представитель русской живописи, выдающийся[4][5] маринист, коллекционер, меценат.

                Живописец Главного морского штаба, действительный тайный советник, академик и почётный член Императорской Академии художеств в Санкт-Петербурге, почётный член Академий художеств в Амстердаме, Риме, Париже, Флоренции и Штутгарте.

                Наиболее выдающийся художник армянского происхождения XIX века[4][5]. Брат армянского историка и архиепископа Армянской Апостольской Церкви Габриэла Айвазовского.

                Будучи художником с мировой известностью, Иван Константинович Айвазовский предпочитал жить и работать на своей родине — в Крыму. Айвазовский наиболее известен своими морскими пейзажами, которые составляют больше половины его работ. Художник считается одним из величайших маринистов всех времён.
            </div>
        </div>
    </div>
</div>
</body>
</html>
