@page
@{
    Layout = "_Layout";
}

<html lang="ru">
<head>
    <link rel="stylesheet" href="css/Picture.css"/>
</head>
<body>
<div>
    <img class="picture-image" src="~/images/arts/9_val.jpg"/>
</div>
</body>
</html>