.main-container{
    margin-top: 10px;
    
    @media (max-width: 1400px) {
        .container__text{
            width: 400px;
        }
        
        .input {
            width: 310px;
        }
    }
    
    @media (max-width: 1100px) {
        .container__text {
            width: 250px;
        }
        
        .container__image{
            width: 200px;
        }

        .input {
            width: 240px;
        }
    }
}

td {
    position: relative;
}

.search {
    margin-top: 10px;
    width: 500px;
    display: inline-block;
}

.container-preview {
    margin-top: 20px;
}

.select-container {
    display: inline-block;
}

.art-preview {
    max-width: 200px;
}

.container__image {
    width: 300px;
}

.container__text {
    margin-left: 50px;
    margin-bottom: 65px;
    width: 650px;
}

.control-container {
    position: absolute;
    bottom: 0;
    right: 25px;
    margin-top: 10px;
    display: flex;
    float: right;
    justify-content: flex-end;
}

.control-button {
    margin-top: auto;
}

.margin20 {
    margin-top: 20px;
}

.margin10 {
    margin-top: 10px;
}

.select-button-inline {
    display: inline-block;
    margin: auto auto 5px 10px;
}

.inline {
    display: inline-block;
}

.text {
    resize: vertical;
}

.input {
    width: 310px;
}